//- подключаем везде
include ../utils/mixins

section#footer.footer
  .footer__wrapper
      .footer__body 
        .footer__top.footer-top
          .container-fluid
            .footer-top__body
              img.footer-top__logo(src="assets/img/header/logo-1.svg",alt="img")
              .footer-top__nav.footer-top-nav
                ul.footer-top-nav__body
                  - 
                    items = [
                        { text: "О проекте"},
                        { text: "Реклама"},
                        { text: "Пользовательское соглашение"},
                        { text: "Служба поддержки"},
                        { text: "Политика конфиденциальности"},
                        { text: "Контакты"}
                      ]
                  each item in items
                    li.footer-top-nav__item
                      a.footer-top-nav__link(href="#!")=item.text

              .footer-top__social.footer-top-social
                .footer-top-social__body
                  - 
                    items = [
                      { title: "assets/img/footer/VK.svg"},
                      { title: "assets/img/footer/insta.svg"},
                      { title: "assets/img/footer/youtube.svg"},
                      { title: "assets/img/footer/facebook.svg"},
                      ]
                  each item in items
                    a.footer-top-social__link(href="#!")
                      img(src=item.title)
        .footer__main.footer-main
          .container-fluid
            .footer-main__body
              .footer-main__column.footer-main-column
                .footer-main-column__body
                  .footer-main-column__title  Новости
                  - 
                    items = [
                     { title: "Новости Pro.Недвижимость"},
                     { title: "Пресс-релизы"},
                     { title: "Блоги"},
                     { title: "Мнение эксперта"},
                     { title: "Интервью"},
                     { title: "Исследование и аналитика"},
                     { title: "Видео"},
                    ]
                  each item in items
                    a.footer-main-column__link(href="#!")=item.title
              .footer-main__column.footer-main-column
                .footer-main-column__body
                  .footer-main-column__title  Недвижимость
                  - 
                    items = [
                     { title: "Апартаменты"},
                     { title: "Таунхаусы"},
                     { title: "Коттеджные посёлки"},
                     { title: "Земельные участки"},
                     { title: "Спецпредложения"},
                     { title: "Все компании"},
                    ]
                  each item in items
                    a.footer-main-column__link(href="#!")=item.title
              .footer-main__column.footer-main-column
                .footer-main-column__body
                  .footer-main-column__title  Народный отзыв
                  - 
                    items = [
                     { title: "Отзыв о компаниях"},
                     { title: "Народный рейтинг ", },
                     { title: "Вопрос-ответ ", },
                     { title: "Форум ", },
                     { title: "Опросы ", },
                    ]
                  each item in items
                    a.footer-main-column__link(href="#!")=item.title
              .footer-main__column.footer-main-column
                .footer-main-column__body
                  .footer-main-column__title  Финансы и право
                  - 
                    items = [
                     { title: "Ипотека и банки"},
                     { title: "Страхование ", },
                     { title: "Юристы, оценка и налог ", },
                     { title: "Ипотечный калькулятор ", },
                     { title: "Калькулятор страхования ", },
                     { title: "Законодательство ", },
                     { title: " ", },
                    ]
                  each item in items
                    a.footer-main-column__link(href="#!")=item.title
              .footer-main__column.footer-main-column
                .footer-main-column__body
                  .footer-main-column__title  Всё для дома
                  - 
                    items = [
                     { title: "Архитектура и дизайн ", },
                     { title: "Строительство и ремонт ", },
                     { title: "Всё для дома, дачи, сада ", },
                     { title: "Полезные советы ", },
                     { title: "Идеи для дома ", },
                    ]
                  each item in items
                    a.footer-main-column__link(href="#!")=item.title
        .footer__low.footer-low
          .container-fluid
            .footer-low__body
              .footer-low__text Вся информация на сайте предоставлена   исключительно с целью ознакомления, получена в том числе  из публичных и открытых источников, и ни при каких условиях  не является рекомендацией или публичной офертой, определяемой  положениями Статьи 437 Гражданского кодекса РФ.
              .footer-low__text
                p © 2020 Rendv.ru Ревизор недвижимости
                p Все права защищены




//- -------------------------------------------------------------------------------------------------------------

.up_down_btn(title='Наверх') ↑


